@font-face {
  font-family: "Rubik-Regular";
  src: url("../fonts/Rubik-Regular.ttf");
  src: url("../fonts/Rubik-Regular.woff2");
}
@font-face {
  font-family: "Rubik-SemiBold";
  src: url("../fonts/Rubik-SemiBold.ttf");
  src: url("../fonts/Rubik-SemiBold.woff2");
}
@font-face {
  font-family: "Rubik-Bold";
  src: url("../fonts/Rubik-Bold.ttf");
  src: url("../fonts/Rubik-Bold.woff2");
}
html,
body {
  font-family: "Rubik-Regular" !important;
}
body {
  margin: 0;
  padding: 0;
}
.container-fluid {
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.bg-pink {
  background-color: pink !important;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 2rem !important;
  padding-bottom: 5rem !important;
  color: #fff;
  text-align: left !important;
}
p {
  margin-top: 0;
  margin-bottom: 0rem !important;
}
.btn-outline-light:hover {
  box-shadow: 1px 1px 3px black;
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 0.25rem;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #343a40 !important;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
/* Custom css */

.text-s-1 {
  font-family: "Rubik-Bold" !important;
  font-size: 2rem;
}
.text-s-2 {
  font-family: "Rubik-Bold" !important;
  font-size: 4rem;
}
.text-s-3 {
  font-family: "Rubik-Bold" !important;
  font-size: 3rem;
  text-align: center !important;
}
.text-s-4 {
  font-family: "Rubik-Bold" !important;
  font-size: 1.5rem !important;
}
.button-text-1 {
  color: #fff !important;
}
.button-text-1:hover {
  color: #343a40 !important;
  text-decoration: none !important;
}
.button-text-2 {
  color: #343a40;
}
.button-text-2:hover {
  color: white !important;
  text-decoration: none !important;
}
